repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "23.11.0"
    hooks:
      - id: black
        language_version: python3.8

  - repo: https://github.com/PyCQA/isort
    rev: "5.13.0"
    hooks:
      - id: isort
        files: \.py$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.1"
    hooks:
      - id: mypy
        additional_dependencies:
          - httpx
        exclude: docs/.*|tests/.*|noxfile.py

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.4"
    hooks:
      - id: prettier
        args: [--prose-wrap, always]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: check-builtin-literals
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: trailing-whitespace

  - repo: https://github.com/PyCQA/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8

  - repo: https://github.com/PyCQA/pydocstyle.git
    rev: "6.3.0"
    hooks:
      - id: pydocstyle
        files: src/.*\.py$

  - repo: https://github.com/asottile/blacken-docs
    rev: "1.16.0"
    hooks:
      - id: blacken-docs

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "1.5.3"
    hooks:
      - id: pyproject-fmt
        args: [--indent, "4"]
