[build-system]
requires = ["flit_core >=2,<3"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "installer"
author = "Pradyun Gedam"
author-email = "pradyunsg@gmail.com"
home-page = "https://github.com/pradyunsg/installer"
description-file = "README.md"
classifiers = ["License :: OSI Approved :: MIT License"]
requires-python = ">=3.7"
requires = [
  "build >= 0.2.0",  # not a hard runtime requirement -- we can softfail
  "packaging",  # not a hard runtime requirement -- we can softfail
]
