[build-system]
requires = ["flit_core >=3.2.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "installer"
authors = [
    { name = "Pradyun Gedam", email = "pradyunsg@gmail.com" },
]
readme = "README.md"
classifiers = [
    "License :: OSI Approved :: MIT License",
]
requires-python = ">=3.8"
dynamic = [
    "version",
    "description",
]

[project.urls]
"GitHub" = "https://github.com/pypa/installer"

[tool.mypy]
files = "src,tools"
show_error_codes = true
strict = true
enable_error_code = [
    "ignore-without-code",
    "redundant-expr",
    "truthy-bool",
]
