name: CI
on:
  push:
  pull_request:

jobs:
  all:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest

    strategy:
      matrix:
        os: [Windows, Ubuntu, MacOS]

    steps:
    - uses: actions/checkout@v2

    # Get all the Python versions
    - uses: actions/setup-python@v1
      with: {python-version: pypy2}
      if: matrix.os != 'Windows'
    - uses: actions/setup-python@v1
      with: {python-version: pypy3}
      if: matrix.os != 'Windows'
    - uses: actions/setup-python@v1
      with: {python-version: 2.7}
    - uses: actions/setup-python@v1
      with: {python-version: 3.5}
    - uses: actions/setup-python@v1
      with: {python-version: 3.6}
    - uses: actions/setup-python@v1
      with: {python-version: 3.7}
    - uses: actions/setup-python@v1
      with: {python-version: 3.8}

    - run: pip install nox
    - run: nox
